<div class="background">
    <div class="row">
        <div class="login" >
            <!-- Login Heading -->
            <div class="row login-heading">
                <h2>Login As</h2>
            </div>
            <div class="row">
                <!-- Button for teacher Login -->
                <div >
                    <a routerLink="teacher/show-results" routerLinkActive="active">
                        <button type="button" value="Teacher" class="btn" >Teacher</button>
                    </a>
                </div>
                <!-- Button for student Login -->
                <div >
                    <a routerLink="student/search-result" routerLinkActive="active" >
                        <button type="button" value="Student" class="btn " >Student</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

