/* footer styling */
footer {
    bottom: 0px;
    position: fixed;
    color: #F9F3EE;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #363062;
    width: 100%;
}